@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

body {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
}

body {
    background-color: beige;
}

.chat-box {
    padding: 32px;
    height: calc(100dvh - 200px);
    background-image: url("images/bg.jpg");
    overflow-y: hidden;
}

.chat-row.sent {
    display: flex;
    justify-content: flex-end;
    padding-left: 32px;
}

.chat-row.received {
    display: flex;
    justify-content: flex-start;
    padding-right: 32px;
}

.chat-row.centered-message {
    display: block;
    text-align: center;
}

.chat-row.sent > .chat-message {
    background-color: #d5f9ba;
}

.chat-row.received > .chat-message {
    background-color: white;
}

.chat-row.centered-message > .chat-message {
    background-color: rgb(234, 199, 255);
}

.chat-message {
    padding: 8px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 3px 3px 30px #00000050;
}

time {
    color: grey;
    font-size: smaller;
}

/* Fondo Pagina */

footer {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 32px;
    padding: 15px 0 10px 0;
}

input {
    width: 100%;
    font-size: 18px;
    padding: 8px 16px;
    border-radius: 16px;
    border: none;
}

button {
    border: none;
    background-color: transparent;
    font-size: 32px;
    color: #666666;
    cursor: pointer;
}

button:hover {
    color: #119811;
}
button:active {
    color: #36af36;
}

/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

img.contact-pic {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 8px;
}

.contact-info h3,
.contact-info p {
    margin: 5px 0 5px 0;
}